body {
    font-family: 'Libre Baskerville', serif;
}
  
.bg-light {
    background-color: transparent !important;
}
  
.navbar {
    width: 100%;
    overflow: auto;
    border-bottom: 2px solid rgb(0, 0, 0);
}
  
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
  
.navbar a {
    float: left;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    margin-left:30px;
    margin-right:70px;
    font-size: 20px;
}
  
.navbar a:hover {
    background-color: rgb(255, 255, 255);
}
  
  
@media screen and (max-width: 500px) {
.navbar a {
    float: none;
    display: block;
    }
}

h5 {
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

p {
    font-size: 16.5px;
    font-family: 'Libre Baskerville', serif;
}

.callout {
    margin-top: 150px;
    margin-bottom: 20px;
    background-color: white;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    text-align: center;
}

.button {
    background-color: black;
    font-size: 30px;
    letter-spacing: 4px;
    font-style: italic;
}

.button-group .button {
    margin-right: 10px;
    margin-bottom: 1px;
}

