.callout {
    margin-top: 150px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}

.button {
    background-color: black;
}