/* card styling taken from search.css in Test folder */
.lb-card {
    border-radius: 25px;
    width: 50%;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: transparent;
    background: rgba(255,255,255,0.5);
    padding-left: auto;
}

/* centers content / categories for selected art piece */
.card-section {
    justify-content: center;
    border-color: black;
}

/* styling for where image / art title would go */
.card-divider {
    justify-content: center;
    background-color: black;
}

h4 {
    color: white;
}