/* input styling parameters from login.css */

.card {
    border-radius: 25px;
    width: 50%;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: transparent;
    background: rgba(255,255,255,0.5);
    padding-left: auto;
}

/* Signup displays in white font */
.card-header > h4 {
    justify-content: center;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    letter-spacing: 7px;
}


.text-center {
    color: white;
    background-color: black;
}

label {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type=email] {
    border-radius: 5px;
}

input[type=password] {
    border-radius: 5px;
}

/* button color is black */

.button {
    background-color: black;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 14px;
}

.button-group .button {
    margin-bottom: 20px;
}