/* imported styling for Navbar from home.css for now */

.navbar {
  width: 100%;
  color: rgb(228, 212, 158);
  overflow: auto;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-family: 'Libre Baskerville', serif;
}

/* Font color now shows in black */
.nav-link {
  color: black;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
