/* imported styling for Navbar from home.css for now */

.navbar {
  width: 100%;
  color: rgb(228, 212, 158);
  overflow: auto;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.nav-item > h4 {
  color: black;
}

.nav-item {
  font-size: 25px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
